body {
    background-image: url("Mediaback.jpg");
  }
div.a { 
  color: #FFFFFF; 
  font-size: 40px;
  font-family: "Monospace";
  position: fixed;
  top: 50%;
  left: 50.9%;
  margin-top: -50px;
  margin-left: -100px;
}

