body {
    background-image: url("back.jpg");
    background-size: cover;
  }
div.a { 
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-size: 60px;;
  position: fixed;
  top: 50%;
  left: 50.9%;
  margin-top: -50px;
  margin-left: -100px;
}

